{% extends 'base.html.twig' %}

{% block title %}Liste de Matériels{% endblock %}

{% block body %}

<!-- Header-->
<div class="d-flex flex-column min-vh-100">
    <!-- Section-->
    <section class="py-5">
        <div class="container-fluid">
            <div class="row gx-4 gx-lg-5 row-cols-4 justify-content-center">
                
                {% for materiel in materiels %}
                    <div class="col mb-5">
                        <div class="card h-100">
                    {% if materiel.image.imageName is defined %}
                        <img class="card-img-top" src="{{asset('uploads/'~ materiel.image.imageName)}}" alt="..." />
                     {% else %} 
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    {%  endif %}
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ materiel.nom }}</h5>
                                    <!-- Product price-->
                                    {{ materiel.prixLocation }}€ par jour
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('admin_show', {'id': materiel.id}) }}">Détails</a></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            {# If you have pagination for 'materiels', you can render it here as you did for 'products' #}
            <div class="navigation d-flex justify-content-center mb-8">
                {{ knp_pagination_render(materiels) }}
            </div>
        </div>
    </section>
</div>

{% endblock %}
