{% extends 'base.html.twig' %}

{% block title %}Créer une boutique{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer une nouvelle boutique</h1>

        {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.adresse) }}
            {{ form_row(form.code_postal) }}
            {{ form_row(form.ville) }}
            {{ form_row(form.telephone) }}
            {{ form_row(form.email) }}

            <button type="submit" class="btn btn-primary">Créer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
