{% block title %}Devis N° D2023-{{ reservation.id }}{% endblock %}

{% block body %}

<style>
    .header, .footer, .info-section, .table-section {
        margin-bottom: 50px;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<div class="header">
<div class="row">

   <div class="col-md-6 text-right">
        <img class="logo" src="{{ absolute_url(asset('img/logo.jpg')) }}" alt="Logo de l'entreprise">
    </div>
    <h1>Devis N° D2023-{{ reservation.id }}</h1>
    </div>
</div>
   
    </div>

    <div class="row mt-3">
        <div>Date d'émission: {{ "now"|date("d/m/Y") }}</div>
        <div>Date d'échéance: {{ "now"|date_modify('+1 month')|date("d/m/Y") }}</div>
    </div><br>
    
<div class="row mt-4 mb-5">
    <div class="col-md-6 text-right"> 
        Exemple SARL <br>
        Adresse de l'entreprise <br>
        Code Postal - Ville de l'entreprise <br>
        Téléphone / Email / Site Internet de l'entreprise
    </div><br>
    <div class="col-md-6">
        {{ reservation.prenom }} {{ reservation.nom }} <br>
        {{ reservation.adresse }} <br>
        {{ reservation.codePostal }} - {{ reservation.ville }} <br>
        {{ reservation.email }}
    </div>
</div><br>
    
    <table class="table table-bordered mt-3 mb-5">
        <thead class="bg-light">
            <tr class="mt-5 bg-dark text-white p-2">
                <th >Désignation</th>
                <th>Quantité</th>
                <th>TVA %</th>
                <th>P.U. HT</th>
                <th>Montant TVA</th>
                <th>Total TTC</th>
            </tr>
        </thead>
        <tbody>
            {% set totalHT = 0 %}
            {% set totalTVA = 0 %}
            {% for materiel in reservation.materiels %}
                {% set itemHT = materielPrix[materiel.id] %}
                {% set itemTVA = itemHT * 0.10 %}
                {% set itemTTC = itemHT + itemTVA %}
                {% set totalHT = totalHT + itemHT %}
                {% set totalTVA = totalTVA + itemTVA %}
                <tr>
                    <td>{{ materielNames[materiel.id] }}</td>
                    <td>1</td>
                    <td>10 %</td>
                    <td>{{ itemHT|number_format(2, ',', ' ') }} €</td>
                    <td>{{ itemTVA|number_format(2, ',', ' ') }} €</td>
                    <td>{{ itemTTC|number_format(2, ',', ' ') }} €</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total HT</td>
                <td>{{ totalHT|number_format(2, ',', ' ') }} €</td>
                <td>{{ totalTVA|number_format(2, ',', ' ') }} €</td>
                <td>{{ (totalHT + totalTVA)|number_format(2, ',', ' ') }} €</td>
            </tr>
        </tfoot>
    </table><br>
    
    <h4>Conditions de paiement</h4>

    <p>Solde à la livraison</p>

    <h4>Moyens de paiement</h4>
    <p>Espèces - Virement BANCAIRE sur le compte: XXX</p>
    
    <br>
    <p>Exemple SARL au capital de 0,00 €</p>
    <p>RCS Nantes n° XXX XXX XXX - Numéro de TVA: XXX</p>
    <p>Assurance: XXX</p>

</div>

{% endblock %}
