{% extends 'base.html.twig' %}

{% block title %}Vistason{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        {% for product in products %}
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card">
                    {% if product.image|length > 0 %}
                    <img class="card-img-top" src="{{ asset('uploads/equipements/'~ product.image.imageName) }}" alt="..." />
                    {% else %}
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    {% endif %}

                    <div class="card-body">
                        <h5 class="fw-bolder">{{ product.nom }}</h5>
                        {{ product.prixLocation }}€ par jour
                    </div>

                    <div class="card-footer">
                        <a class="btn btn-outline-dark btn-block" href="{{ path('product_detail', {'id': product.id}) }}">Voir détails</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="d-flex justify-content-center mt-4">
    {{ knp_pagination_render(products) }}
</div>

{% endblock %}
