<nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-center  mb-4">
        <div class="container">
          <a class="navbar-brand d-md-none d-xs-block py-3" href="#">
            <img src="/static_files/images/logos/beer_white.png" height="40" alt="Company Logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                  <a class="nav-link mx-2 active btn-lg" href="{{ path('search_products_page', {'type': 'Caméra'}) }}">Caméra</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link mx-2 btn-lg" href="{{ path('search_products_page', {'type': 'Microphone'}) }}">Microphone</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link mx-2 btn-lg" href="{{ path('search_products_page', {'type': 'Mixette'}) }}">Mixette</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link mx-2 btn-lg" href="{{ path('search_products_page', {'type': 'Projecteur'}) }}">Projecteur</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link mx-2 btn-lg" href="{{ path('search_products_page', {'type': 'Support'}) }}">Support</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link mx-2 btn rounded-0 btn-lg" href="{{ path('search_products_page', {'type': 'Casque'}) }}">Casque</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link mx-2 btn rounded-0 btn-lg" href="{{ path('search_products_page', {'type': 'Moniteur'}) }}">Moniteur</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link mx-2 btn rounded-0 btn-lg" href="{{ path('search_products_page', {'type': 'Enregistreur'}) }}">Enregistreur</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link mx-2 btn rounded-0 btn-lg" href="{{ path('search_products_page', {'type': 'Eclairage'}) }}">Eclairage</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link mx-2 btn rounded-0 btn-lg" href="{{ path('search_products_page', {'type': 'Drone'}) }}">Drone</a>
              </li>
                  <li class="nav-item">
                  <a class="nav-link mx-2 btn rounded-0 btn-lg" href="{{ path('search_products_page', {'type': 'Stabilisateur'}) }}">Stabilisateur</a>
              </li>
                </li>
                  <li class="nav-item">
                  <a class="nav-link mx-2 btn rounded-0 btn-lg" href="{{ path('search_products_page', {'type': 'Fond'}) }}">Fond</a>
              </li>
                </li>
                  <li class="nav-item">
                  <a class="nav-link mx-2 btn rounded-0 btn-lg" href="{{ path('search_products_page', {'type': 'Slider'}) }}">Slider</a>
              </li>
          </ul>
          </div>
        </div>
      </nav>