{% extends 'base.html.twig' %}

{% block title %}Commandes de {{ user.nom }} {{ user.prenom }}{% endblock %}

{% block body %}
    <h1>Commandes de {{ user.nom }} {{ user.prenom }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Réservation</th>
                <th>Articles commandés</th>
                <th>Prix Total</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.id }}</td>
                    <td>
                        <ul>
                            {% for rm in reservation.reservationMateriel %}
                                <li>{{ rm.nom }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ reservation.prixTotal }}€</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('admin_app_user_show', {'id': user.id}) }}" class="btn btn-secondary">Retour</a>
{% endblock %}
