{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table mb-5">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ user.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
            <tr>
                <th>Est verifié </th>
                <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
            </tr>
            
        </tbody>
        
    </table>

<div class="d-flex align-items-center">
    <a href="{{ path('admin_app_user_index') }}" class="btn btn-secondary" style="margin-right: 15px;">Retour à la liste</a>
    
    <a href="{{ path('admin_app_user_edit', {'id': user.id}) }}" class="btn btn-primary" style="margin-right: 15px;">Éditer</a>
    
    <div>
        {{ include('user/_delete_form.html.twig') }}
    </div>
</div>
<hr>
<h2 class="mt-5">Dernières réservations</h2>
<table class="table">
   <thead>
    <tr>
        <th>ID</th>
        <th>Date de commande</th>
        <th>Boutique</th>
        <th>Date de retrait</th>
        <th>Date de retour</th>
        <th>Société</th>
        <th>Numéro TVA</th>
        <th>Adresse</th>
        <th>Ville</th>
        <th>Code Postal</th>
        <th>Action</th>
        <!-- Ajoutez d'autres colonnes selon vos besoins -->
    </tr>
</thead>

<tbody>
    {% for reservation in user.reservations %}
        <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.createdAt|date('d/m/Y H:i:s') }}</td>
            <td>{{ reservation.boutique.nom }}</td>
            <td>{{ reservation.dateRetrait|date('d/m/Y') }}</td>
            <td>{{ reservation.dateRetour|date('d/m/Y') }}</td>
            <td>{{ reservation.societe }}</td>
            <td>{{ reservation.numeroTVA }}</td>
            <td>{{ reservation.adresse }}</td>
            <td>{{ reservation.ville }}</td>
            <td>{{ reservation.codePostal }}</td>
            <td><a href="{{ path('admin_app_user_orders', {'id': user.id}) }}" class="btn btn-info">Voir les commandes</a></td> <!-- Ajoutez d'autres colonnes ici -->
        </tr>
    {% endfor %}
</tbody>
</table>



{% endblock %}
